.card {
  position: relative;
  background: #faf7f2;
  text-align: center;
  border-radius: 16px;
  padding: 15px;
  margin-bottom: 15px;
  transition: all 250ms ease-in;
}
.cardThumb {
  margin-bottom: 12px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}
.cardThumb img {
  max-width: 100%;
  border-radius: 12px;
}
.meal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 0.85rem;
  color: #93350d;
  background-color: #ffcdb8;
}
.cardTitle {
  margin: 20px 0;
}
.cardTitle small {
  display: block;
  margin-bottom: 6px;
  font-size: 0.85rem;
  font-weight: 200;
}
.cardTitle h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.cardTitle h3 a:hover {
  text-decoration: underline;
}

.btnArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.favBtn {
  display: flex;
  align-items: center;
  padding: 6px;
  font-size: 24px;
  color: #cfc9b4;
  cursor: pointer;
}
.favBtn:hover {
  color: #fa2352;
}
