.footer {
  width: 100%;
  flex-direction: column;
  margin: 40px 0;
  background: #faf7f2;
}
.footerNav {
  display: flex;
  align-items: center;
}
.footerNav > :not(li:first-child) {
  padding-left: 1rem;
}

.footerNav > li > a {
  text-decoration: none;
  font-weight: 700;
}

.footerCopy a:hover,
.footerNav > li > a:hover {
  color: #fdc913;
}

.footerCopy {
  margin: 12px 0;
}
.footerCopy a {
  font-weight: 700;
}
